.filter-wrapper {
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.479);
  box-sizing: border-box;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.position-wrapper {
  margin: 15rem 20rem;
}
