.app-wrapper {
  --search-bar-height: 100rem;
  --cart-bar-height: 100rem;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: var(--search-bar-height) auto var(--cart-bar-height);
}
